body{
	padding:0px;
	margin:0px;
  overflow-x: hidden;
}

form {
margin:0px;
padding:0px;
}

.qbod {
  border:1px solid white;
  padding: 5px;
  float:left;
  width:104px;
  height:20px;
}

.qhead {
  color:white;
  border:1px solid white;
  background-color:black;
  float:left;
  width:104px;
  padding: 5px;
  height:20px;
}

#morex {
  color:white;
  font-size:30px;
  width: 15px;
  margin-left: auto ;
  margin-right: auto ;
}

#findquote {
  border-left:1px solid #999;
  border-top:1px solid #999;
  border-bottom:1px solid #999;
  background-color: black;
  float:left;
  vertical-align:middle;
  height:40px;
}

#fqx {
  border-right:1px solid #999;
  border-top:1px solid #999;
  border-bottom:1px solid #999;
  background-color: black;
  vertical-align:middle;
  float:left;
  height:40px;
  width:140px;
}

td {
  color:white;
}

a img {
  outline:none;
  border:none;
}
.outer {
	width: 980px;
	margin-left: auto ;
  margin-right: auto ;
}
.top {
  	width: 100%;
  	height: 28px;
	color: white;
	font-family:Arial,Tahoma,"Trebuchet MS";
  	font-size:14px;
  	background-color: black;
	float:left;
}
.user {
	float:right;
	padding-right:7px;
	padding-top:5px;
}
.middle {
  	min-height:630px;
    height:auto !important;
    height:630px; 
  	background-color: #bc0000;
  	width: 980px;
    margin-left: auto ;
  	margin-right: auto ;
  	padding-bottom:20px;
}
.midish {
  float:left;
}
.outermid {
	background-color: #bc0000;
}
.outerfoot {
	background-color: black;
	width: 100%;
}
.footer {
  	height: 150px;
  	background-color: black;
	color:white;
	width: 980px;
	margin-left: auto ;
  	margin-right: auto ;
	vertical-align: middle;
	padding-left: 15px;
}
object {
	width:100%;
}
#ff ul {
  margin:0px;
  padding:0px;
  width:980px;

  list-style:none;
  background-color: black;
}
#ff li {
  font-family:Arial,Tahoma,"Trebuchet MS";
  font-size:14px;
  vertical-align: middle;
  display: inline;
  float: left; 
  color:white;
  padding-right:10px;
}

a {
  text-decoration: none;
	color: white;
}

.subfooter {
  	width: 100%;
  	height: 190px;
  	background-color: #bc0000;
}
.header {
	font-size:40px;
	font-weight:bold;
	color: white;
	font-family:Georgia,"Times New Roman",Times,Serif;
	padding-top: 20px;
	padding-left: 15px;
}
.header2 {
	font-size:18px;
	font-weight:bold;
	color: black;
	font-family:Arial,Tahoma,"Trebuchet MS";
	padding-top: 5px;
	padding-left: 15px;	
	float:left;
}
.menu {
	font-family:Arial,Tahoma,"Trebuchet MS";
	font-size:16px;
	font-weight:bold;
	float:left;
	padding-top: 4px;
	margin-right: 18px;
	border-bottom: solid 1px black;
	float:right;
	width:490px;
}

#nav {
    list-style-type:none;
    padding:0px;
    margin:0px;
}
#nav li { 
  float: left; 
  list-style:none;
}
.menu a {
	text-decoration:none;
	color:white;
	margin-left:10px;
	margin-right:10px;
}
.menu a:hover {
	color:black;
}
.menu a:blur {
	color:white;
}
.thispage {
	color:black;
	display:inline;
	position:relative;
	margin-left:10px;
	margin-right:10px;
}
.banner {
	background-image:url('../images/damienmason.png');
	width:950px;
	height:200px;
	margin-top: 18px;
	margin-left: 15px;	
	background-position: center center; 
	background-size: 100% auto;
	position: relative;
	z-index: 1;
	float:left;
}
.logo {
	background-image:url('../images/logo.png');
	background-size:128px 84px;
	width:128px;
  height:84px;
	position:relative;
	top: 20px;
	right:-828px;
	z-index: 4;
}
.webpic {
	background-image:url('../images/web.png');
	background-size:30px 32px;
	width:30px;
  height:32px;
	position:relative;
  float:left;
  margin-right:20px;
}
.webpictext {
  float:left;
}
.phonepic {
	background-image:url('../images/phone.png');
	background-size:25px 37px;
	width:25px;
  height:37px;
	position:relative;
  float:left;
  margin-right:20px;
}
.phonepictext {
  float:left;
}
.emailpic {
	background-image:url('../images/email.png');
	background-size:51px 30px;
	width:51px;
  height:30px;
	position:relative;
  float:left;
  margin-right:20px;
}
.emailpictext {
  float:left;
}
.copypic {
	background-image:url('../images/copyright.png');
	background-size:30px 32px;
	width:30px;
  height:32px;
	position:relative;
  float:left;
  margin-right:20px;
}
.copypictext {
  float:left;
}

.productpic {
	background-image:url('../images/construct.png');
	background-size:125px 125px;
	width:125px;
  height:125px;
	position:relative;
	top: 0px;
	right:15px;
	z-index: 3;
	float:right;
}
.productpic2 {
	background-image:url('../images/injury.png');
	background-size:125px 125px;
	width:125px;
  height:125px;
	position:relative;
	top: 0px;
	right:15px;
	z-index: 4;
	float:right;
}
.aus {
  background-image:url('../images/aus.gif');
  background-size:150px 110px;
  width:150px;
  height:110px;
  position:relative;
	top: 15px;
	left:15px;
	z-index: 2;
	float:left;
}
hr {
  border:1;
  width:97%;
  color:black;
  background-color:black;
  height:1px;
}
.midheader {
	font-size:30px;
	font-weight:bold;
	color: white;
	font-family:Arial,Tahoma,"Trebuchet MS";
	margin-top: 10px;
	padding-left: 15px;
}
.midheader2 {
	font-size:20px;
	font-weight:bold;
	color: white;
	font-family:Arial,Tahoma,"Trebuchet MS";
	margin-top: 10px;
}
.midheader3 {
	font-size:20px;
	font-weight:bold;
	color: white;
	font-family:Arial,Tahoma,"Trebuchet MS";
	margin-top: 10px;
	padding-left: 15px;
}
.midcontent {
	font-size:16px;
	color: white;
	font-family:Arial,Tahoma,"Trebuchet MS";
	padding-top: 20px;
	padding-left: 15px;
	float:left;
	
}

.docimage {
  width:31px;
  height:30px;
  background-image:url('../images/doc.png');
	background-size:31px 32px;
}

.midpartleft {
  float:left;
  width:450px;
  padding-right:20px;
  border-right:1px solid;
}
.midpartright {
  float:left;
  width:450px;
  padding-left:20px;
}
.midleft2 {
  float:left;
  width:450px;
  padding-right:10px;
}
.midmid2 {
  float:left;
  width:470px;
  padding-left:10px;
  padding-right:10px;
}
#resultquote {
  border: 1px solid white;
  padding: 2px;
}

.midcontent2 {
	font-size:14px;
	color: white;
	font-family:Arial,Tahoma,"Trebuchet MS";
	padding-top: 20px;
	padding-left: 15px;
	width: 350px;
	margin-left: auto ;
  margin-right: auto ;
  overflow:hidden;
  height:520px;
}

#comdesc {
  width:370px;
}

.tdcol {
  float:left;
  width:140px;
  margin:3px;
}

.moneybox1 {

  border:1px solid #555555;
  color: #555555;
  background-color:white;
  padding:2px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
}
.moneybox2 {

  border:1px solid #555555;
  color: #ffffff;
  background-color:black;
  padding:2px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
}

input[type=text], input[type=email], input[type=password], input[type=number] {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  border:0px;
  width:347px;
  height:35px;
  margin:0px 0px 5px 0px;
  color: #dddddd;
  background-color:black;
  -webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
padding-left:3px;
}
select {
  -webkit-appearance:none;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  border:0px;
  width:351px;
  height:36px;
  color: #888888;
  background-color:black;
  -webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
padding-left:3px;
padding-top:5px;
padding-bottom:5px;
margin-bottom:5px;
}
#xp2 {
  float:left;
}

#xp, #xp2, #xp3, #xp4, #xp5,#xp6, #existing, #workdone {
  display:none;
}
#workdoneval {
	display:inline-block;
}
.submit {
  width:100px;
float:right;
background:#777777;
color:#fff;
font-family: Tahoma, Geneva, sans-serif;
height:30px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border: 1px solid #999;
margin-right:10px;
cursor: pointer;
}
.getcover {
width:125px;
}
.submit2 {
background:#777777;
color:#fff;
font-family: Tahoma, Geneva, sans-serif;
height:20px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border: 1px solid #999;
padding-left:10px;
padding-right:10px;
cursor: pointer;
}

#contactform input[type=text], input[type=email], input[type=password] {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  border:0px;
  width:350px;
  height:35px;
  margin:0px 0px 5px 0px;
  color: #dddddd;
  background-color:black;
  -webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
padding-left:3px;
}
#contactform textarea {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  border:0px;
  width:350px;
  display:block;
  color: #dddddd;
  background-color:black;
  -webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
padding-left:3px;
padding-top:7px;
margin:0px 0px 5px 0px;
}

.more {
	background-image:url('../images/more.png');
	background-size:136px 34px;
	width:136px;
  height:34px;
	margin-top: 18px;
	margin-right: 15px;
	float:right;
}
.login {
	background-image:url('../images/login.png');
	width:250px;
  height:34px;
	margin-top: 18px;
	margin-right: 15px;
	float:right;
}

.login2 {
	background-image:url('../images/login2.png');
	width:250px;
  height:34px;
	margin-top: 18px;
	margin-right: 15px;
	float:right;
}
.pdf {
	background-image:url('../images/pdf.png');
	background-size:45px 42px;
	width:45px;
  height:42px;
	margin-top: 0px;
	margin-right: 15px;
	float:left;
	vertical-align:top;
}
.pdftext {
  margin-top: 0px;
	margin-right: 15px;
	float:left;
	vertical-align:top;
}


.onoffswitch {
    position: relative; width: 126px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    float:left;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 14px; padding: 0; line-height: 14px;
    font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "QUICK QUOTE";
    padding-left: 10px;
    background-color: #030303; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "DETAILED QUOTE";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    width: 12px; margin: 1px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 108px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


/* Matches the direct descendant of a label preceded by a 
   radio button */
input[type="radio"] + label > span {
  position: relative;
  border-radius: 14px;
  width: 15px;
  height: 15px;
  background-color: #f0f0f0;
  border: 1px solid #bcbcbc;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0px 1em 0px 0px;
  display: inline-block;
  vertical-align: middle;
}

ul.radio-group {
    width: 350px;
    text-align:left;
    margin-left: -40px;
}

ul.radio-group li {
    position: relative;
    list-style: none;
    padding: 0px;
    display:inline;
    float:left;
    margin: 0px;
  text-align:left;
}

input[type="radio"] {
  opacity: 0;
}

/* Matches the direct descendant of a label preceded by a 
   checked radio button */
input[type="radio"]:checked + label > span {
  background: #000000;
  border-color: #000000;
  border: solid 3px #000000;
  display: inline-block;

}

/* Matches a span contained by the direct descendant 
   of a label preceded by a checked radio button */
input[type="radio"]:checked + label > span span {
    display: inline-block;
    width: 8px;
    height: 8px;
    position: relative;
    left: 3px;
    top: -3px;
    border-radius: 8px;
    border: none;
    background: #bc0000;
    padding: 0px;

}

.hidden {

}

.slidelinkright {
  position:relative;
  top:-40px;
  left:50px;
  margin:0px;
  padding:0px;
  float:right;
  background-image:url('../images/next.png');
	background-size:50px 50px;
	width:50px;
  height:50px;
}
.submitright {
  position:relative;
  top:0px;
  left:150px;
  margin:0px;
  padding:0px;
  float:right;
}
.slidelinkleft {
  position:absolute;
  top:0px;
  left:-100px;
  margin:0px;
  padding:0px;
  float:left;
  background-image:url('../images/last.png');
	background-size:50px 50px;
	width:50px;
  height:50px;
}

.content {
    position: absolute;
    width: 400px;
    padding: 0px;
    margin-left: 100%;
/*
    -webkit-transition: margin-left 1s;
    -moz-transition: margin-left 1s;
    -o-transition: margin-left 1s;
    transition: margin-left 1s;
*/
}
.content.inside {
    margin-left: 0;
/*
    -webkit-transition: margin-left 1s;
    -moz-transition: margin-left 1s;
    -o-transition: margin-left 1s;
    transition: margin-left 1s;
*/
}
#page1_content {
    background-color: bc0000;
    color: white;
}
#page2_content {
    background-color: bc0000;
    color: white;
}


.centered{
	text-align:center;
	background:#bc0000;
	border:2px solid #000000;
	position:relative;
	display:none;
	padding:0px;
	top: 60px;
	left: -150px; 
	width:300px;
	height: 90px;
	margin-left:50%;	
	opacity:0.8;
}

.close_button{
	background:#CC0000;
	border:1px solid #000000;
	position:relative;
	right:-123px;
	top:55px;
	margin:10px;
	cursor:pointer;
	width:30px;
}
